name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)

pool:
  vmImage: ubuntu-latest

trigger:
- develop
- main

stages:
  #DotNet Library Intregration Test
- template: dotnet/stages.yml
  parameters:
    shouldPublish: eq(variables['Build.SourceBranch'], 'refs/heads/main')
    build: DotNet_Development
    projectSrc: tests/integration/src/dotnet/library
    artifactNamePrefix: DotNet
    environments:
      - env: env
        name: DotNet_Development

  #DotNet Tool Intregration Test
- template: dotnet/stages.yml
  parameters:
    shouldPublish: eq(variables['Build.SourceBranch'], 'refs/heads/main')
    build: DotNetTool_Development
    projectSrc: tests/integration/src/dotnet/tool
    artifactNamePrefix: DotNetTool
    buildParameters:
      - '-p:PackAsTool=true'
      - '-p:ToolCommandName=dotnet-tool'
    skipTests: true
    environments:
      - env: env
        name: DotNetTool_Development

  #DotNet Web Intregration Test
- template: dotnetweb/stages.yml
  parameters:
    system: test
    suffix: do
    devopsOrg: wcom-public
    build: DotNetWeb_Development
    projectSrc: tests/integration/src/dotnet/web
    shouldDeploy: eq(variables['Build.SourceBranch'], 'refs/heads/main')
    artifactNamePrefix: DotNetWeb
    environments:
      - env: env
        name: DotNetWeb_Development

  #SQL Intregration Test
- template: sql/stages.yml
  parameters:
    system: test
    suffix: do
    devopsOrg: wcom-public
    projectSrc: tests/integration/src/sql
    serverName: 'devops'
    build: SQL_Development
    shouldDeploy: eq(variables['Build.SourceBranch'], 'refs/heads/main')
    shouldPublish: eq(variables['Build.SourceBranch'], 'refs/heads/main')
    artifactNamePrefix: SQL
    databases:
      - name: DevOps
    environments:
      - env: env
        name: SQL_Development

  #Bicep Intregration Test
- template: bicep/stages.yml
  parameters:
    system: test
    devopsOrg: wcom-public
    suffix: do
    build: Bicep_Development
    artifactNamePrefix: Bicep
    projectRoot: tests/integration/src/Bicep
    validateBicep: false
    shouldDeploy: false
    environments:
      - env: dev
        name: Bicep_Development
        publish: false

    #Docs Intregration Test
- template: docs/stages.yml
  parameters:
    system: test
    suffix: do
    devopsOrg: wcom-public
    build: Docs_Development
    artifactNamePrefix: Docs
    sites:
      - name: 'docs'
    shouldDeploy: false
    environments:
      - env: dev
        name: Docs_Development